*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
ui,ol{
    list-style: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.banner{
    width: 600px;
    margin: 0 auto;
}
.wraper{
    height: 40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.wraperInput{
    position: relative;
    display: inline-block;
    float: left;
    line-height: 36px; 
    width: 60%;
}
.floatDiv{
    position: absolute;/*相对于wrapinput定位*/
    top: 0;
    right: 0;
    line-height: 36px;
    padding: 2px 0;
    margin-right: 4px;
}
button{
    float: left;
    line-height: 36px;
    width: 20%;
}
input{
    border: 1px solid #b8b8b8;
    line-height: 36px;
    padding: 1px 0;
    width: 100%;
    font-size: 20px;
}
input:focus{
    outline: none;  /*鼠标点进去后边框不变色*/
    border-color: #4b94fc;
}
.image{
    background-size: cover;
    height: 300px;
    width: 100%;
}
.icon{
    margin: 0 2px;
}
