*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
ul,ol{
    list-style: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.banner{
    width: 600px;
    margin: 0 auto;
}
.wraper{
    position: relative;
    height: 40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.wraperInput{
    position: relative;
    display: inline-block;
    float: left;
    line-height: 36px; 
    width: 360px;
}
.floatDiv{
    position: absolute;/*相对于wrapinput定位*/
    top: 0;
    right: 0;
    line-height: 36px;
    padding: 2px 0;
    margin-right: 4px;
}
.kong{
    width: 0;
    height: 20px;
    border-right: 1px solid #888686;
    margin-right: 4px;
}
button{
    float: left;
    width: 120px;
    border: none;
    background: #bdcadb;
    font-size: 16px;
    color: rgb(65, 63, 63);
    transition: all 0.3s;
}
button:focus{
    outline: none;
}
button:hover{
    box-shadow: 6px 6px 19px -9px rgb(46, 46, 46);
}
input{
    border: 1px solid #b8b8b8;
    line-height: 36px;
    padding: 1px 6px 0;
    width: 100%;
    font-size: 16px;
}
input:focus{/*鼠标点进去后边框不变色*/
    outline: none;  /*鼠标点进去后边框不变色*/
    border-color: #4b94fc;
}
.image{
    background-size: cover;
    height: 300px;
    width: 100%;
}
.icon{
    margin: 0 2px;
    fill: #535252;
}
.icon:hover{
    fill:#4b94fc;
    cursor: pointer;
}
.suggestion{
    position: absolute;
    top: 100%;
    left: 64px;
    display: none;
}
.suggestion.active{
    display: block;
}
