<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="js/element-ui-2.4.10/index.css">

    <!-- <link href="./css/element-ui-2.4.10.css" rel="stylesheet" type="text/css" /> -->
    <link href="./css/newMeeting.css?v=2019063003" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css?v=2019063003">
    <title>新建会议</title>
    <style>
        [v-cloak] {
            display: none;!important;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div id="container" class="container">
            <div class="header">
                <div class="header-logo"><img src="assets/logo.png"></div>
                <div class="header-title">南京市公安局视频会议系统</div>
                <div class="login-out"><img src="assets/loginout.png"></div>
            </div>
            <div class="main">
                <div class="normal">
                    <div class="top clearfix">
                        <div><img src="./assets/huiyi.jpg" alt=""></div>
                        <div class="title-input">
                            <el-input :value="input_data.meetingType === 1?'多人视频会议':'直播会议'">
                            </el-input>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-left">
                            <div class="form">
                                <el-form label-width="110px">
                                    <el-form-item label="会议主题:">
                                        <el-input class="wrapperInput" v-model="input_data.meetingSubject" clearable></el-input>
                                    </el-form-item>
                                    <el-form-item label="会议类型：">
                                        <el-select clearable v-model="input_data.meetingType" placeholder="请选择">
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="演讲人：" v-if="input_data.meetingType === 2">
                                        <div class="Picture-box">
                                            <div class="Picture" v-if="speechList.length>0" v-for="(item,index) in speechList">
                                                <img :src=item.photo alt="" onerror="this.src='./assets/defult_avatar.png'">
                                                <div class="Picture-text">{{item.realName}}</div>
                                                <div><img @click="deletePeopleAction(1,index)" class="Picture-delete" src="./assets/image_delete.png"></div>
                                            </div>
                                            <div class="Picture">
                                                <div @click="canShow(1)" class="personPicture"><img src="assets/xinzr.png"></div>
                                            </div>
                                        </div>
                                    </el-form-item>
                                    <el-form-item label="管理人：" v-if="input_data.meetingType === 2">
                                        <div class="Picture-box">
                                            <div class="Picture" v-if="managerJwptList.length>0" v-for="(item,index) in managerJwptList">
                                                <img :src=item.photo alt="" onerror="this.src='./assets/defult_avatar.png'">
                                                <div class="Picture-text">{{item.realName}}</div>
                                                <div><img @click="deletePeopleAction(2,index)" class="Picture-delete" src="./assets/image_delete.png"></div>
                                            </div>
                                            <div class="Picture">
                                                <div @click="canShow(2)" class="personPicture"><img src="assets/xinzr.png"></div>
                                            </div>
                                        </div>
                                    </el-form-item>
                                    <el-form-item label="开始时间：">
                                        <el-date-picker v-model="input_data.startTime" type="datetime"
                                            placeholder="选择日期时间" value-format="yyyy-MM-dd HH:mm:ss">
                                        </el-date-picker>
                                    </el-form-item>
                                    <el-form-item label="结束时间：">
                                        <el-date-picker v-model="input_data.endTime" type="datetime"
                                            placeholder="选择日期时间" value-format="yyyy-MM-dd HH:mm:ss">
                                        </el-date-picker>
                                    </el-form-item>
                                    <el-form-item label="主要参会人员：">
                                        <div class="Picture-box">
                                            <div class="Picture" v-if="participantsList.length>0" v-for="(item,index) in participantsList">
                                                <img :src=item.photo alt="" onerror="this.src='./assets/defult_avatar.png'">
                                                <div class="Picture-text">{{item.realName}}</div>
                                                <div><img @click="deletePeopleAction(3,index)" class="Picture-delete" src="./assets/image_delete.png"></div>
                                            </div>
                                            <div class="Picture">
                                                <div @click="canShow(3)" class="personPicture"><img src="assets/xinzr.png"></div>
                                            </div>
                                        </div>
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="提醒时间：">
                                        <el-date-picker v-model="input_data.remindTime" type="datetime"
                                            placeholder="选择日期时间" value-format="yyyy-MM-dd HH:mm:ss">
                                        </el-date-picker>
                                    </el-form-item>
                                    <el-form-item label="会议内容：">
                                        <el-input v-model="input_data.meetingContent" clearable class="textarea"
                                            type="textarea"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <el-button type="primary" class="button" @click="next()">下一步</el-button>
                        </div>
                        <!--弹窗-->
                        <!--<el-dialog center title="会议室创建成功" :visible.sync="dialogVisible">-->
                            <!--<div>-->
                                <!--<p>会议房间</p>-->
                                <!--<el-input v-model="input_data.roomNo"></el-input>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<p>房间密码</p>-->
                                <!--<el-input v-model="input_data.roomPassword"></el-input>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<p>开始时间</p>-->
                                <!--<el-input v-model="input_data.startTime"></el-input>-->
                            <!--</div>-->
                            <!--<span slot="footer" class="dialog-footer">-->
                                <!--<el-button type="primary" @click="postData()">确 定</el-button>-->
                            <!--</span>-->
                        <!--</el-dialog>-->
                        <div v-if="showSuccessPopup" class="success-popup">
                            <div class="pop-up-content">
                                <!--<div class="close-pop"><img src="assets/close.png"></div>-->
                                <div class="createSuccess">会议室创建成功</div>
                                <ul class="pop-info">
                                    <li>
                                        <span>会议房间：</span>
                                        <span class="pop-info-content">{{success_result.roomNo}}</span>
                                    </li>
                                    <li>
                                        <span>房间密码：</span>
                                        <span class="pop-info-content">{{success_result.roomPassword}}</span>
                                    </li>
                                    <li>
                                        <span>开始时间：</span>
                                        <span class="pop-info-content">{{success_result.startTime}}</span>

                                    </li>
                                </ul>
                                <button class="sure-pop" @click="successPopConfirm()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="input">
                        <input placeholder="搜索人员" v-model="search_keyword" @keyup.enter="startSearch()" @input="searchValueChange()">
                    </div>

                    <div v-if="(search_list && search_list.length>=0) || is_searching" class="search-result">
                        <div v-if="is_searching" class="search-result-loading">
                            <img src="./js/utils/loading/images/loading.gif">
                        </div>
                        <div v-if="search_list && search_list.length>0 && !is_searching" class="search-result-item" v-for="item in search_list" @click="selectSearchItemAction(item)">
                            <div class="search-result-item-title">{{item.realName}}</div>
                            <div class="search-result-item-subtitle">{{item.policeAreaName}}</div>
                        </div>
                        <div v-if="search_list && search_list.length==0 && !is_searching" class="search-result-no">暂无结果</div>
                    </div>



                    <!--<div class="tongxunlu">-->
                        <!--<div><img src="./assets/tongxunlu-5.png" alt=""></div>-->
                        <!--<div class="p">常用联系人</div>-->
                    <!--</div>-->
                    <div class="quanju">
                        <div><img src="./assets/zuzhijiagouguanli.png" alt=""></div>
                        <div class="p">全局通讯录</div>
                    </div>
                    <el-tree lazy ref="tree" :data="tree" :props="props" :load="loadNode" node-key="jwptid" show-checkbox @check="handleCheckChange"
                            ></el-tree>
                    <!--<el-button type="primary" @click="closetree()">确定</el-button>-->
                </div>
            </div>
            <div v-if="showMask" class="mask" @click="hideSide()"></div>
        </div>
    </div>

    </div>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/element-ui-2.4.10/index.js"></script>
    <script src="./js/utils/loading/loading.js"></script>
    <script src="./js/httpRequest.js?v=2019063003"></script>
    <script src="js/loginCheck.js?v=2019063003"></script>
    <script src="./js/newMeeting.js?v=2019063003"></script>

</body>

</html>