*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.code{
    width: 100%;
    height: 280px;
    overflow: hidden;
}
.code-wrapper{
    padding: 4px;
}
.preview-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fee433;
}
.preview{
    width: 370px;
    height: 300px;
    position: relative;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.lipWrapper{
    width: 154px;
    height: 100px;
    position: absolute;
    top: 140px;
    left: 112px;
    overflow: hidden;
}
.pik-body{
    width:100px;
    height:92px;
    position:absolute;
    bottom: 86px;
    transform: rotateZ(-1deg);
    display: flex;
}
.shock-right{
    margin-left: 78px;
}
.actions{
    position: absolute;
    right:0;
    top: 10px;
}
.actions button{
    margin: 6px 2px;
    background: rgb(243, 237, 237);
    border: none;
}
.actions button:focus{
    outline: none;
}
.actions button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
/*
.nose{
    border: 12px solid;
    width: 0px;
    height: 0px;
    border-radius: 12px;
    border-color: black transparent transparent;
    position: absolute;
    top: 92px;
    left: 185px;
    margin-left: -6px;
}
.eye{
    width: 50px;
    height: 50px;
    background: #131212;
    border-radius: 50%;
    position: absolute;
}
.eye::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    left: 9px;
    top: 2px;
    border: 1px solid black;
}
.left.eye{
    top: 48px;
    left: 70px;
}
.right.eye{
    top: 48px;
    right: 70px;
}
.face{
    width: 66px;
    height: 66px;
    background: #eb0818;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}
.left.face{
    top: 132px;
    left: 22px;
}
.right.face{
    top: 132px;
    right: 22px;
}
.upperLip{
    width: 78px;
    height: 24px;
    z-index: 1;
    border: 2px solid black;
    background: #fee433;
    position: absolute;
    border-top: transparent;
}
.left.upperLip{
    top: 130px;
    left: 112px;
    transform: rotate(-20deg);
    border-bottom-left-radius: 46px 24px;
    border-right: transparent;
}
.right.upperLip{
    top: 130px;
    right: 100px;
    transform: rotate(20deg);
    border-bottom-right-radius: 46px 24px;
    border-left: transparent;
}

.lowLip{
    width: 140px;
    height: 400px;
    position: absolute;
    background: #990513;
    bottom: 0;
    border-radius: 118px/300px;
    left: 8px;
    overflow: hidden;
}
.lowLip::after{
    content: '';
    width: 102px;
    height: 78px;
    background: #fc4a62;
    left: 18px;
    bottom: 0;
    position: absolute;
    border-radius: 144px/118px;
}

*/