<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id='example-3'>
        <input type="checkbox" id="jack" value="11" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="22" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="33" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./vue1.js"></script>

</html>